.question-container{
    border: 2px solid lightcyan;
    background-color: lightcyan;
    border-radius: 15px;
    
}

.ques{
    border: 1px solid blueviolet;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.icon{
    height: 20px;
    margin-left: 500px;
    color: blue;
    
}